.nodered/.flows_JWZ5SZ1.json.backup
[{"type":"tab","id":"c109569c.3ef6a8","label":"Flow 1"},{"id":"94beab78.6b4158","type":"inject","z":"c109569c.3ef6a8","name":"run","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":140,"wires":[["70fe2585.8f01dc"]]},{"id":"12bf0513.ed40fb","type":"debug","z":"c109569c.3ef6a8","name":"debug (look at debug panel)","active":true,"console":"false","complete":"true","x":810,"y":160,"wires":[]},{"id":"70fe2585.8f01dc","type":"biomio auth","z":"c109569c.3ef6a8","name":"","appId":"b0ced4ecb22ceb8ee0116804b2f87256","appKey":"-----BEGIN RSA PRIVATE KEY----- MIICXAIBAAKBgQCU3fuGvv0kL97pV120g+FT1/hMX7VSaJE9sDf54c2aC8N3Gz0h 1wtLEvYdeDjATzHI9CyMLqgnwUD4/w2cebeF40swdbfiA0MhwErscXZVc/r/mF89 w5dcYXMU+8MAZQQy0UWZ7XeqTM1tzS6KyjlyrUhBn66YA/hGjKUi8AaryQIDAQAB AoGAFkPlPNAP+HuYcXn5r+gRqYKhxnqCGiM9peZXWO5m2+VqhMP0Lr2FGONrIBk9 E7ZEkfPDPew0hk2nNBahqIej5Q4b+2mgbWeCnpgBYf2cMHl6dqGd80oe/L+T36x2 dVThqJ0jRKOd8hrej4UaMMH756dfqhPhVg2HhdT55iZ5GQECQQC8ENbaYFtCO3T9 Aa9o+smE9ChqioaIwD6Rq4WOf2Baj8Z/qVm1cbwfABEoGOMqnfGMMT6dpkK85OAQ nWesZmTxAkEAyqRLJexrVSpobJPu+CDrAjlz4TAnerctunOjr1ZHNSgR4WoPQJMF txvOu7Wm4zvEvTxfoZI7tmXlFlZQijbUWQJAS7/ImmrnNxU1uNad7X3d/3RMdyVW rOwqB4h7ofrCN5fjjvYKUR//cskXH/xuO3MkoKARJXSbOvRBH9AWuwT/MQJAYF9C XgbSBO7mOr0gKWF+YtBwC+ia3gG//ayBbCHcO6uS1WFbX5qMXUkcSKlbdTY3msfb szuYqmZLTRQ/uXvaAQJBAKo8JoswbDpPor6Km+35iCMJ0xJqByAaZs/X7X1ba5YM ONxelxT5sJU13Oo/lHRbdZp23Hz+DK7G2bmMtU0cLHw= -----END RSA PRIVATE KEY-----","userToken":"user","userTokenSource":"msg","x":420,"y":220,"wires":[["12bf0513.ed40fb"]]}]