.nodered/flows_biom.io.json
[{"type":"tab","id":"88504820.77afb8","label":"Flow 1"},{"id":"74f31bbb.8b0ce4","type":"inject","z":"88504820.77afb8","name":"RUN","topic":"","payload":"rjhdsy@gmail.com","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":140,"wires":[["e2b8603f.1d47a"]]},{"id":"d7eab863.281548","type":"debug","z":"88504820.77afb8","name":"debug (look at debug panel)","active":true,"console":"false","complete":"true","x":900,"y":120,"wires":[]},{"id":"e2b8603f.1d47a","type":"biomio auth","z":"88504820.77afb8","name":"","appId":"b0ced4ecb22ceb8ee0116804b2f87256","appKey":"-----BEGIN RSA PRIVATE KEY----- MIICXAIBAAKBgQCU3fuGvv0kL97pV120g+FT1/hMX7VSaJE9sDf54c2aC8N3Gz0h 1wtLEvYdeDjATzHI9CyMLqgnwUD4/w2cebeF40swdbfiA0MhwErscXZVc/r/mF89 w5dcYXMU+8MAZQQy0UWZ7XeqTM1tzS6KyjlyrUhBn66YA/hGjKUi8AaryQIDAQAB AoGAFkPlPNAP+HuYcXn5r+gRqYKhxnqCGiM9peZXWO5m2+VqhMP0Lr2FGONrIBk9 E7ZEkfPDPew0hk2nNBahqIej5Q4b+2mgbWeCnpgBYf2cMHl6dqGd80oe/L+T36x2 dVThqJ0jRKOd8hrej4UaMMH756dfqhPhVg2HhdT55iZ5GQECQQC8ENbaYFtCO3T9 Aa9o+smE9ChqioaIwD6Rq4WOf2Baj8Z/qVm1cbwfABEoGOMqnfGMMT6dpkK85OAQ nWesZmTxAkEAyqRLJexrVSpobJPu+CDrAjlz4TAnerctunOjr1ZHNSgR4WoPQJMF txvOu7Wm4zvEvTxfoZI7tmXlFlZQijbUWQJAS7/ImmrnNxU1uNad7X3d/3RMdyVW rOwqB4h7ofrCN5fjjvYKUR//cskXH/xuO3MkoKARJXSbOvRBH9AWuwT/MQJAYF9C XgbSBO7mOr0gKWF+YtBwC+ia3gG//ayBbCHcO6uS1WFbX5qMXUkcSKlbdTY3msfb szuYqmZLTRQ/uXvaAQJBAKo8JoswbDpPor6Km+35iCMJ0xJqByAaZs/X7X1ba5YM ONxelxT5sJU13Oo/lHRbdZp23Hz+DK7G2bmMtU0cLHw= -----END RSA PRIVATE KEY-----","userToken":"payload","userTokenSource":"msg","x":530,"y":220,"wires":[["d7eab863.281548"]]}]